# -*- coding: utf-8 -*-

import time
import datetime
import schedule
import logging
from pprint import pprint

from glob import Glob
from alarm.alarmmanager import AlarmManager
from event.notification import ezs_email


class TurhouseManager(AlarmManager):

    '''
      turhouse manager object
    '''

    def __init__(self):
        self._alarm = False
        AlarmManager. __init__(self)
        # autoArm
        schedule.every().day.at("1:00").do(self.autoArm)
        schedule.every().day.at("2:00").do(self.autoArm)
        schedule.every().day.at("3:00").do(self.autoArm)
        # autoDisarm
        schedule.every().day.at("6:00").do(self.autoDisarm)
        # auto ligth on
        schedule.every().day.at("20:23").do(self.armedAutoLigthOn)
        # auto ligth off
        schedule.every().day.at("23:10").do(self.armedAutoLigthOff)

    def beep(self):
        self.device('dongle_1').beep()

    def alarm(self, sender, event_type, params):
        self._alarm = True
        self.device('dongle_1').alarm()
        ezs_email('Alarm: ', sender, event_type, params)

    def autoAlarm(self, sender, event_type, params):
        self._alarm = True
        self.device('dongle_1').beepSlow()
        ezs_email('Auto Alarm: ', sender, event_type, params)

    def alarmStop(self, sender, event_type, params):
        if self._alarm:
            ezs_email('Alarm Stop: ', sender, event_type, params)
        self.device('dongle_1').alarmStop()
        self._alarm = False

    def autoArm(self):
        Glob.logger.info("autoArm try")
        if self.zone('dum').ready() and self.zone('dum').noSensor():
            self.zone('dum').arm('autoarmed')

    def autoDisarm(self):
        Glob.logger.info("autoDisarm")
        if self.zone('dum').autoarmed():
            self.zone('dum').disarm()

    def armedAutoLigthOn(self):
        if self.zone('dum').armed() or self.zone('dum').autoarmed():
            self.device('zasuvka_1').on()

    def armedAutoLigthOff(self):
        if self.zone('dum').armed() or self.zone('dum').autoarmed():
            self.device('zasuvka_1').off()

    def controllerEventHandler(self, sender, event_type, params):
        Glob.logger.info(
            "Controller %s code: %s " % (sender, params['code']))
        code = params['code']
        if code == 121:
            self.zone('dum').arm()
            self.beep()
        if code == 212:
            self.zone('dum').disarm()
            self.alarmStop(sender, event_type, params)
            self.beep()
        if code == 343:
            self.device('zasuvka_1').toggle()
            self.beep()
